<div class="page page-dashboard" data-ng-controller="DashboardCtrl">

  <section>
    <section class="panel panel-default">
      <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> {{city.name}}</strong></div>
      <div class="panel-body">

        <div class="row">
          <div class="col-sm-8">
            <leaflet center="city" markers="counters" height="550px" width="100%"></leaflet>
          </div>

          <div class="col-sm-4">
            <section class="timeline-dashboard">
              <div class="ui-timline-container">
                <section class="ui-timeline">
                  <article class="tl-item">
                    <div class="tl-body">
                      <div class="tl-entry">
                        <div class="tl-caption">
                          <a href="javascript:;" class="btn btn-primary btn-block">Today</a>
                        </div>
                      </div>
                    </div>
                  </article>

                  <article class="tl-item">
                    <div class="tl-body">
                      <div class="tl-entry">
                        <div class="tl-time">3 min ago</div>
                        <div class="tl-icon btn-icon-round btn-icon btn-icon-thin btn-info"><i class="ti-shine"></i></div>
                        <div class="tl-content">
                          <h4 class="tl-tile text-primary">Go hiking</h4>

                          <p>Consectetur adipisicing elit. Error, accusantium debitis voluptatem dolore excepturi ducimus fugiat
                            nulla perspiciatis quo ipsum non eligendi nisi veniam maxime in quas atque omnis cumque!</p>
                        </div>
                      </div>
                    </div>
                  </article>

                  <article class="tl-item alt">
                    <div class="tl-body">
                      <div class="tl-entry">
                        <div class="tl-time">1 hour ago</div>
                        <div class="tl-icon btn-icon-round btn-icon btn-icon-thin btn-warning"><i class="ti-shopping-cart"></i>
                        </div>
                        <div class="tl-content">
                          <h4 class="tl-tile text-danger">Buy some toys</h4>

                          <p>Ullam, commodi, modi, impedit nostrum odio sit odit necessitatibus accusantium enim voluptates culpa
                            cupiditate cum pariatur a recusandae tenetur aspernatur at beatae.</p>
                        </div>
                      </div>
                    </div>
                  </article>

                  <article class="tl-item">
                    <div class="tl-body">
                      <div class="tl-entry">
                        <div class="tl-time">3 hours ago</div>
                        <div class="tl-icon btn-icon-round btn-icon btn-icon-thin btn-success"><i class="ti-camera"></i></div>
                        <div class="tl-content">
                          <h4 class="tl-tile text-warning">Soluta nihil</h4>

                          <p>Incidunt, molestias odio soluta nihil accusantium sit nostrum doloremque. Recusandae, ullam, odio
                            consequatur facere totam reiciendis similique dicta explicabo!</p>
                        </div>
                      </div>
                    </div>
                  </article>

                </section>
              </div>
            </section>

          </div>
        </div>

      </div>
    </section>
  </section>

  <section class="dasboard-chart" data-ng-controller="AccountReportCtrl">
    <div class="row">
      <div class="col-sm-4">
        <!-- Stats -->
        <div class="row text-center">
          <div class="col-sm-6">
            <div class="panel mini-box" ng-class="selected.lastCurrent" ng-click="selectReport('lastCurrent')">
                <span class="btn-icon btn-icon-round btn-icon-lg-alt bg-success">
                    <span class="ti-stats-up"></span>
                </span>

              <div class="box-info">

                <p class="text-muted">Current</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="panel mini-box" ng-class="selected.lastWeek" ng-click="selectReport('lastWeek')">
                <span class="btn-icon btn-icon-round btn-icon-lg-alt bg-info">
                    <i class="ti-calendar"></i>
                </span>

              <div class="box-info">
                <p class="text-muted">Last Week</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="panel mini-box" ng-class="selected.lastMonth" ng-click="selectReport('lastMonth')">
                <span class="btn-icon btn-icon-round btn-icon-lg-alt bg-warning">
                    <i class="ti-calendar"></i>
                </span>

              <div class="box-info">
                <p class="text-muted">Last Month</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="panel mini-box" ng-class="selected.lastYear" ng-click="selectReport('lastYear')">
                <span class="btn-icon btn-icon-round btn-icon-lg-alt bg-danger">
                    <i class="ti-calendar"></i>
                </span>

              <div class="box-info">
                <p class="text-muted">Last Year</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-full">
          <div class="panel panel-profile">
            <div class="panel-heading text-center bg-info">
              <p class="regular-paragraph"><i class="ti-harddrive icon"></i>Current status counters</p>
            </div>
            <div class="list-justified-container">
              <ul class="list-justified text-center">
                <li>
                  <p class="size-h3">{{status.operative}}</p>
                  <p class="text-muted">Operative</p>
                </li>
                <li>
                  <p class="size-h3">{{status.detached}}</p>
                  <p class="text-muted">Detached</p>
                </li>
                <li>
                  <p class="size-h3">{{status.creating}}</p>
                  <p class="text-muted">Creating</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="panel panel-default">
          <div class="panel-body">
            <div data-flot-chart
                 data-data="line1.data"
                 data-options="line1.options"
                 style="width: 100%; height: 380px;"
              ></div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-full">
        <section class="panel panel-box">
          <div class="panel-top-sm bg-success">
            <div class="text-center">
              TOTAL CONSUMPTION
            </div>
            <div class="divider divider-xl"></div>
            <div class="divider divider-lg"></div>
          </div>
          <div class="panel-icon bg-success panel-icon-sm">
            <i class="ti-bolt"></i>
          </div>
          <div class="panel-bottom bg-reverse">
            <ul class="list-justified text-center">
              <li>
                <p class="size-h2 color-success"><i class="ti-stats-up"></i></p>
                <p class="text-muted">High</p>
                <div class="divider"></div>
                <p class="">{{totals.top.kwh | number}} Kwh.</p>
                <p class="">{{totals.top.percent | number}} %</p>
              </li>
              <li>
                <p class="size-h2 color-success"><i class="ti-pulse"></i></p>
                <p class="text-muted">Medium</p>
                <div class="divider"></div>
                <p class="">{{totals.medium.kwh | number}} Kwh.</p>
                <p class="">{{totals.medium.percent | number}} %</p>
              </li>
              <li>
                <p class="size-h2 color-success"><i class="ti-stats-down"></i></p>
                <p class="text-muted">Low</p>
                <div class="divider"></div>
                <p class="">{{totals.low.kwh | number}} Kwh.</p>
                <p class="">{{totals.low.percent | number}} %</p>
              </li>
              <li>
                <p class="size-h2 color-success"><i class="ti-plug"></i></p>
                <p class="text-muted">Not Used</p>
                <div class="divider"></div>
                <p class="">{{totals.noUsed.kwh | number}} Kwh.</p>
                <p class="">{{totals.noUsed.percent | number}} %</p>
              </li>
            </ul>
          </div>
        </section>
      </div>
    </div>
  </section>


</div>
  