<div class="page-signin" >

    <div class="signin-header">
        <section class="logo text-center">
            <h1><a href="#/">{{main.brand}}</a></h1>
        </section>
    </div>

    <div class="signin-body" ng-controller="LoginCtrl">
        <div class="container">
            <div class="form-container">

                <form name="formUser" class="form-horizontal">
                    <fieldset>
                        <div class="form-group">
                            <div class="input-group input-group-first">
                                <span class="input-group-addon">
                                    <span class="ti-email"></span>
                                </span>
                                <input ng-model="formUser.username"
                                       type="email"
                                       class="form-control input-lg"
                                       placeholder="Username"
                                       >
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="ti-lock"></span>
                                </span>
                                <input ng-model="formUser.password"
                                       type="password"
                                       class="form-control input-lg"
                                       placeholder="Password"
                                       >
                            </div>
                        </div>

                        <div class="divider"></div>
                        <section class="additional-info" ng-show="formUser.status.error">
                          <p class="text-center">
                            Error: message test error.
                          </p>
                        </section>

                        <div class="divider" ng-class="{'divider-xl': formUser.status.error}"></div>
                        <div class="form-group">
                            <a ng-click="login(formUser)" href="" class="btn btn-primary btn-lg btn-block text-center">Log in</a>
                        </div>
                    </fieldset>
                </form>

                <div class="divider"></div>
                <section class="additional-info">
                    <p class="text-right">
                        <a href="#/pages/forgot-password">Forgot your password?</a>
                        <span> | </span>
                        <a href="#/pages/signup">Sign up</a>
                    </p>
                </section>


            </div>
        </div>
    </div>

</div>