// .page-dashboard {}

// CURRENT STATUS COUNTERS
.col-full {
  padding: 0;

  .icon {
    padding-right: 10px;
    font-size: 25px;
    position: absolute;
    left: 10px;
    top: 8px;
  }
}

.regular-paragraph {
  margin: 0;
}