<div class="container">
  <h3>Dashboard user navegation</h3>

  <p>1.- Select the city. (Get Places)</p>
  <div>
    <select name="" id="" ng-options="city as city.name for (id, city) in places" ng-model="citySelected">
      <option value="">select a city</option>
    </select>
  </div>
  <!--<pre>Places: {{places | json}}</pre>-->
  <!--<pre>Geo location: {{citySelected.geolocation | json}}</pre>-->
  <!--<pre>Markers: {{citySelected.markers | json}}</pre>-->
  <!--<pre>Markers by Index: {{city.getMarkers(105) | json}}</pre>-->

  <p>2.- Get all the markers.</p>
  <div>
    <leaflet ng-show="citySelected" center="citySelected.geolocation" markers="citySelected.markers" height="550px" width="700px"></leaflet>
  </div>
  <p>3.- Get specific marker by id. (Example building / school)</p>
  <p>4.- Select detector by marker id.</p>
  <p>5.- Get messages by marker id.</p>
  <p>6.- Get Data reports (Last week, Last month, Last year).</p>

  <div ng-repeat="city in cities">
    {{city.id}}, {{city.name}}
  </div>
</div>